#textdomain wesnoth-Frost_Mage

[scenario]
    id=04_the_waters_of_destiny
    name= _ "The Waters of Destiny"
    next_scenario=05_the_secret_council
    map_data="{~add-ons/Frost_Mage/maps/04_the_waters_of_destiny.map}"
    {TURNS 25 20 15}
    victory_when_enemies_defeated=no
    
    {DEFAULT_SCHEDULE}
    
    [label]
        x,y=4,7
        text=Wisdom Falls
    [/label]
    
    [side]
        side=1
        no_leader=yes
        controller=human
        save_id=team1
        team_name=side1
        user_team_name= _ "Erinna and friends"
        recruit=Elvish Archer, Elvish Fighter, Elvish Shaman
        {GOLD 300 250 200}
        {INCOME 3 3 3}
    [/side]
    
    [side]
        side=2
        controller=ai
        no_leader=yes
        team_name=enemies
        canrecruit=yes
        user_team_name= _ "Orcs"
        #ifdef NORMAL
        recruit=Orcish Grunt, Orcish Assassin, Orcish Archer, Wolf Rider
        #endif
        
        #ifdef HARD
        recruit=Orcish Grunt, Orcish Assassin, Orcish Crossbowman, Goblin Knight
        #endif
        
        {GOLD 400 500 400}
        {INCOME 4 4 4}
    [/side]
    
    [side]
        side=3
        controller=ai
        id=nagaleader
        canrecruit=yes
        type=Naga Myrmidon
        team_name=enemies
        user_team_name= _ "Nagas"
        recruit=Naga Fighter, Naga Warrior, Water Serpent
        {GOLD 500 550 550}
        {INCOME 4 4 4}
    [/side]
    
    [side]
        side=4
        controller=human
        team_name=side1
        user_team_name= _ "Merfolk"
        save_id=merfolk
        id=sirenelder
        type=Mermaid Siren
        name= _ "Mara"
        unrenamable=yes
        canrecruit=yes
        recruit=Merman Fighter, Merman Hunter, Mermaid Enchantress, Mermaid Priestess
        {GOLD 300 250 200}
        {INCOME 4 4 4}
    [/side]
    [story]
        [part]
            background="story/landscape-coast.webp"
            story= _ "In a peaceful part of the coastline of the sea, the merfolk academy of magic, Wisdom Falls, was located."
        [/part]
        [part]
            background="story/landscape-coast.webp"
            story= _ "Wisdom Falls was a prosperous academy where new mermaids were trained in sea magic."
        [/part]
        [part]
            background="portraits/merfolk/enchantress.webp"
            story= _ "It was headed by an old and wise enchantress, called Mara."
        [/part]
    [/story]
    
    {JOAFM_TRACK {JOURNEY_04_NEW}}
    
    [event]
        name=prestart
        [music]
            name=legends_of_the_north.ogg
        [/music]
    [/event]
    
    [event]
        name=turn 1
        first_time_only=yes
        
        [store_unit]
            [filter]
                id=sirenelder
            [/filter]
            variable=sirenelder
        [/store_unit]
        
        [unit]
            side=4
            type=Mermaid Initiate
            x,y=2,8
        [/unit]
        [unit]
            side=4
            type=Mermaid Initiate
            x,y=3,9
        [/unit]
        [unit]
            side=4
            type=Mermaid Initiate
            x,y=3,10
        [/unit]
        [unit]
            side=4
            type=Mermaid Initiate
            x,y=3,11
        [/unit]
        
        [unit]
            side=4
            id=guardian
            type=Merman Hoplite
            upkeep=loyal
            x,y=8,7
        [/unit]
        [unit]
            side=4
            type=Merman Warrior
            upkeep=loyal
            x,y=5,5
        [/unit]
        [unit]
            side=4
            type=Mermaid Enchantress
            upkeep=loyal
            x,y=5,10
        [/unit]
        [unit]
            side=4
            type=Merman Warrior
            upkeep=loyal
            x,y=4,12
        [/unit]
        
        {SCROLL_TO 2 9}
        
        [message]
            speaker=narrator
            message= _ "Everything was the same as any other day. $sirenelder.name was busy in the instruction of new mermaids."
        [/message]
        
        [message]
            speaker=sirenelder
            message= _ "As the water ...."
        [/message]
        
        [message]
            speaker=narrator
            message= _ "However, the oration was soon interrupted."
        [/message]
        
        [unit]
            side=4
            id=inj_fighter
            type=Merman Fighter
            x,y=15,6
            hitpoints=10
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        
        [store_unit]
            [filter]
                id=inj_fighter
            [/filter]
            variable=inj_fighter
        [/store_unit]
        
        [move_unit]
            id=inj_fighter
            to_x=1
            to_y=11
        [/move_unit]
        
        [message]
            speaker=inj_fighter
            message= _ "My Lady!"
        [/message]
        
        [message]
            speaker=sirenelder
            message= _ "$inj_fighter.name! What happened to you?"
        [/message]
        
        [message]
            speaker=inj_fighter
            message= _ "They... The Naga... they are attacking..."
        [/message]
        
        [message]
            speaker=sirenelder
            message= _ "What! When would they understand that we want some peace for ourselves, and for them too? Can't they be content with the territory they already have?"
        [/message]
        
        [message]
            speaker=guardian
            message= _ "We had better prepare the defenses, my lady."
        [/message]
        
        [message]
            speaker=sirenelder
            message= _ "Yes. And take $inj_fighter.name to the healers at once."
        [/message]
        [message]
            speaker=sirenelder
            message= _ "Make sure you don't go into the offensive before their forces are sufficiently thinned. If you act rashly, it is the students who will suffer. Save them at all costs."
        [/message]
        [message]
            speaker=guardian
            message= _ "Yes, my lady."
        [/message]
        
        {FULL_HEAL (id=inj_fighter)}
        {VARIABLE save_unit "yes"}
        
        [objectives]
            side=4
            [objective]
                description= _ "Defend the Academy (protect the students)."
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Mara."
                condition=lose
            [/objective]
            [objective]
                description= _ "More than one Initiate dies."
                condition=lose
            [/objective]
            [note]
                description= _ "<span foreground='orange'>Play defensively until the Naga forces are sufficiently weak, then strike.</span>"
            [/note]
            [note]
                description= _ "<span foreground='blue'>First unit to die will be saved by $sirenelder.name</span>"
            [/note]
            [gold_carryover]
                carryover_percentage=40
            [/gold_carryover]
            
            {TURNS_RUN_OUT}
        [/objectives]
        
    [/event]
    
    [event]
        name=turn 3
        first_time_only=yes
        
        [unstore_unit]
            variable=lorendor
            x,y=20,26
            find_vacant=yes
        [/unstore_unit]
        [unstore_unit]
            variable=erinna
            x,y=20,26
            find_vacant=yes
        [/unstore_unit]
        [unstore_unit]
            variable=raizr
            x,y=20,26
            find_vacant=yes
        [/unstore_unit]
        
        [heal_unit]
            [filter]
                id=lorendor,erinna,raizr
            [/filter]
            moves=full
            restore_attacks=yes
            restore_statuses=no
        [/heal_unit]
        
        [message]
            speaker=erinna
            message= _ "Feels a bit lonely now that the bandits have left!"
        [/message]

        [unit]
            side=1
            id=scout
            type=Elvish Rider
            canrecruit=no
            unrenamable=yes
            random_traits=yes
            x,y=28,17
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]

        [move_unit]
            id=scout
            to_x=21
            to_y=26
        [/move_unit]

        {MSG scout (_"My lord, this place is swarming with Naga forces! It is not safe.")}
        {MSG erinna (_"What?!")}
        {MSG lorendor (_"What about the Merfolk Academy?")}
        {MSG scout (_"They are still resisting, my lord.")}
        {MSG lorendor (_"They will be able to hold, but we must hurry.")}
        {MSG lorendor (_"$erinna.name, you can stay away from the battle if you wish.")}
        {MSG erinna (_"I understand the risks, but I want to help.")}
        {MSG lorendor (_"Very well, but be careful.")}
        
        {UNSTORE kurug-ruk 22 16}
        {HEAL kurug-ruk}
        
        [message]
            speaker=kurug-ruk
            message= _ "Exactly where do you think you are going?"
        [/message]
        
        [message]
            speaker=erinna
            message= _ "Not him again!"
        [/message]
        
        [message]
            speaker=raizr
            message= _ "No worries, little girl. You are far from defenseless."
        [/message]
        
        [objectives]
            side=1
            [objective]
                description= _ "Defeat the enemies"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Lorendor, Erinna, Raizr or Mara"
            [/objective]
            [objective]
                description= _ "More than one Initiate dies."
                condition=lose
            [/objective]
            [gold_carryover]
                carryover_percentage=40
            [/gold_carryover]
            
            {TURNS_RUN_OUT}
        [/objectives]
        
    [/event]
    
    # test event
    [event]
        name=enemies defeated
        [message]
            speaker=raizr
            message= _ "I've told you!"
        [/message]
        
        [message]
            speaker=lorendor
            message= _ "$sirenelder.name, will you take Erinna as a student? I know she is a human, but she can use Water Magic."
        [/message]
        
        [message]
            speaker=sirenelder
            message= _ "Intriguing. Ability to use Water? Yes, I shall be happy to teach her. Magic can be dangerous, if not properly used."
        [/message]
        
        [store_unit]
            [filter]
                id=lorendor
            [/filter]
            variable=lorendor
            kill=yes
        [/store_unit]
        [store_unit]
            [filter]
                id=erinna
            [/filter]
            variable=erinna
            kill=yes
        [/store_unit]
        [store_unit]
            [filter]
                id=raizr
            [/filter]
            variable=raizr
            kill=yes
        [/store_unit]
        [store_unit]
            [filter]
                id=sirenelder
            [/filter]
            variable=sirenelder
            kill=yes
        [/store_unit]
        
        {CLEAR_VARIABLE v_kurugruk}
        {CLEAR_VARIABLE save_unit}
        
        [endlevel]
            result=victory
            carryover_percentage=40
            carryover_add=no
            bonus=no
        [/endlevel]
    [/event]
    
    ## Save the first units that are going to die
    [event]
        name=last breath
        first_time_only=no
        [filter]
            type=Mermaid Initiate
        [/filter]
        [if]
            [variable]
                name="save_unit"
                boolean_equals=yes
            [/variable]
            [then]
                [store_unit]
                    [filter]
                        id=$unit.id
                    [/filter]
                    variable="saved_unit"
                    kill=yes
                [/store_unit]
                {MSG sirenelder (_"I have managed to save $saved_unit.name somehow, but I will not be able to do it again.")}
                {MSG sirenelder (_"$saved_unit.name is resting now, and will be able to fight next turn.")}
                {VARIABLE save_unit no}
                
                [harm_unit]
                    [filter]
                        id=sirenelder
                    [/filter]
                    amount=6
                    kill=no
                [/harm_unit]
            [/then]
            [else]
                {MSG sirenelder (_"No! We should have been more careful!")}
                [endlevel]
                    result=defeat
                [/endlevel]
            [/else]
        [/if]
    [/event]
    
    [event]
        name=side 4 turn
        first_time_only=no
        [if]
            [variable]
                name=save_unit
                boolean_equals=no
            [/variable]
            [then]
                [unstore_unit]
                    variable=saved_unit
                    x,y=3,14
                    find_vacant=yes
                [/unstore_unit]
                {CLEAR_VARIABLE saved_unit}
            [/then]
        [/if]
    [/event]
    
    [event]
        name=die
        first_time_only=yes
        [filter]
            id=erinna,lorendor,raizr,sirenelder
        [/filter]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    
    [event]
        name=time over
        first_time_only=yes
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
[/scenario]
