#textdomain wesnoth-Frost_Mage

[scenario]
	id=16_a_swampy_day
	name=_"Unending Feud"
	map_file="~add-ons/Frost_Mage/maps/16_a_swampy_day.map"
	{TURNS 40 35 30}
	victory_when_enemies_defeated=no

	{DEFAULT_SCHEDULE}

    [side]
		side=1
		controller=human
		no_leader=yes
		{INCOME 3 3 3}
		{GOLD 200 160 140}
		fog=yes
		shroud=yes
		team_name=erinna
		user_team_name= _ "Erinna and Friends"
		[leader]
			# wmllint: recognize erinna
			{CHARACTER_STATS:ERINNA}
			type=Frost Mage JoaFM
		[/leader]
    [/side]

    [side]
		side=2
		controller=ai
		team_name=dwarves
		{INCOME 6 6 6}
		{GOLD 600 500 400}
		user_team_name= _ "Dwarvish Garrison"
        [leader]
            type=Dwarvish Stalwart
        [/leader]
        recruit=Dwarvish Scout, Dwarvish Fighter, Dwarvish Guardsman
    [/side]

    [event]
		name=prestart
		{MAKE_LOYAL_LEADER erinna}
		[unit]
			id=mage
			side=1
			type=Mage
			placement=leader
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
		[/unit]
		[unit]
			# wmllint: recognize raizr
			{CHARACTER_STATS:RAIZR}
			type=Inferno Drake
			placement=leader
		[/unit]
		[unit]
			# wmllint: recognize eliel
			{CHARACTER_STATS:ELIEL}
			type=Elvish Ranger
			placement=leader
		[/unit]
        [unit]
			# wmllint: recognize kalenz
			id=kalenz
			type=Elvish High Lord
			name= _ "Kalenz"
			placement=leader
			facing=se
			profile="portraits/elves/kalenz.webp"
			[modifications]
			    {TRAIT_AGED}
			[/modifications]
			[abilities]
			    {ABILITY_LEADERSHIP}
			[/abilities]
		[/unit]
	[/event]

    {DEATH_EVENT (erinna,raizr,liyesa,kalenz,eliel,mage)}
	{TIMEOUT_EVENT}
[/scenario]