[scenario]
	id=17_sapphire_forest
	name=_"Sapphire Forest"
	map_file="~add-ons/Frost_Mage/maps/17_sapphire_forest.map"
	{TURNS 40 35 30}
	victory_when_enemies_defeated=no

	{DEFAULT_SCHEDULE}

    [side]
		side=1
		controller=human
        team_name=elves
        user_team_name="Refugee Elves"
        {INCOME 4 4 4}
		{GOLD 400 360 340}
		fog=yes
		shroud=yes
		recruit = Elvish Hero, Elvish Ranger, Elvish Rider, Elvish Captain, Elvish Marksman
		[leader]
			# wmllint: recognize eliel
			{CHARACTER_STATS:ELIEL}
			type=Elvish Lady Marshal
			canrecruit=yes
			facing=ne
		[/leader]
		[unit]
			# wmllint: recognize kalenz
			id=kalenz
			type=Elvish High Lord
			name= _ "Kalenz"
			placement=leader
			facing=ne
			profile="portraits/elves/kalenz.webp"
			[modifications]
			    {TRAIT_AGED}
			[/modifications]
			[abilities]
			    {ABILITY_LEADERSHIP}
			[/abilities]
		[/unit]
		[unit]
			# wmllint: recognize liyesa
			id=liyesa
			name= _ "Liyesa"
			type=Elvish Lady
			placement=leader
			facing=ne
			profile="portraits/elves/joafm-druid.webp"
		[/unit]
    [/side]

    [side]
		side=2
		controller=ai
        team_name=vampires
        user_team_name="Vampires"

        {INCOME 10 10 10}
		{GOLD 500 700 900}

		recruit = Flesh Artisan, Blood Hulk, Duelist, Noble, Blood Manipulator, Half Blood
		[leader]
			id = xylia
			name = "Duchess Xylia"
			type = Duchess
			facing = sw
		[/leader]
    [/side]

    [side]
		side=3
		controller=ai
        team_name=elementals
        user_team_name="Rogue Elementals"

		{INCOME 10 10 10}
		{GOLD 500 700 900}

		recruit = Stone Golem,Ice Crab,Thunderbird,Vine Tiger,Zephyr,Undine,Unstable Elemental
		[leader]
			type = Greater Earth Daemon
			facing = nw
		[/leader]
    [/side]

	[event]
		name=start

		# Intro dialog between Kalenz & Eliel about this forest. Some bittersweet thoughts of
		# Erinna maybe. Kalenz assures they are are not too far from her.
		{MSG Kalenz _"This forest lies far enough from the roads. The refugees should be safe here — at least for a time."}
		{MSG Eliel _"North-east was not the direction Erinna chose."}
		{MSG Kalenz _"No. She went her own way."}
		{MSG Eliel _"South-east… toward the waters."}
		{MSG Kalenz _"Yes. And we came here — because these people needed us."}
		{MSG Eliel _"I know. Still… it feels strange, walking away from her trail."}
		{MSG Kalenz _"Distance on a map is not the same as distance of the heart."}
		{MSG Eliel _"You truly believe that?"}
		{MSG Kalenz _"I do. This forest is not as far from her as it seems."}
		{MSG Eliel _"Then let us hope the trees are willing to shelter those she left in our care."}

		[unit]
            side=1
            id=scout
            type=Elvish Rider
            x,y=26,15
            hitpoints=10
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
		{MAKE_HERO scout}

		[move_unit]
            id=scout
            to_x=20
            to_y=7
        [/move_unit]

		{MSG scout (_ "My Lord, this is bad. There seems to be other creatures here, humanoid. They have an organized patrol which injured several of our scouts.")}
		{MSG kalenz (_ "Any chance we can avoid fighting them? We are weak from the journey as it is.")}
		{MSG scout (_ "They sent this bloody message on an arrow, My Lord.")}
		{MSG xylia (_ "<i>Get out or die, green-skinned people. This forest is ours.</i>")}
		{MSG kalenz (_ "Ah, that's not good. Regardless, let's try to find a place away from them. Surely they cannot control the entirely of a forest this big.")}
		{MSG scout (_ "We checked. Their patrols seem to avoid the southern part.")}
		{MSG kalenz (_ "Good. Eliel, prepare to soldiers to march for south. Let's stay away from their stronghold. If there's one, it's bound to be towards the north.")}
		{MSG eliel (_ "Certainly. My Lord, there can only be something dangerous in the southern part if they are avoid it.")}
		{MSG kalenz (_ "That works in our favor, if we are careful. Best divided enemies than allied ones.")}
		{MSG kalenz (_ "Fight carefully. Our healers are useless now due to the madness. Scout around if there are favourable locations that can provide food and water.")}

		# TODO add villages. Special "Tree villages". Normal tree houses can work, i guess.
		# Maybe we can show friendly wose/faerie units that appear when to moveto some hex,
		# maybe the great tree hexes.

		# Objectives:
		# Eliminate the elementals before vampires. Don't kill the vampire leader, that simply earns their ire.
		[objectives]
			side=1

			[objective]
				description=_"Eliminate the elemental forces."
				condition=win
			[/objective]

			[objective]
				description=_"Do not kill the vampire leader."
				condition=win
			[/objective]

			[objective]
				description=_"Death of Kalenz"
				condition=lose
			[/objective]

			[objective]
				description=_"Death of Eliel"
				condition=lose
			[/objective]

			[objective]
				description=_"Turns run out"
				condition=lose
			[/objective]

			[note]
				description=_"Great trees and treehouses act as villages for elves."
			[/note]
		[/objectives]

	[/event]

	# Maybe a Kalenz vs Xylia single combat showoff? That can have the duchess grudgingly accept their power and stay away. Two long living swordfighters clashing could be an epic scene!
[/scenario]