[scenario]
	id=18_the_academy
	name=_"The Academy"
	map_file="~add-ons/Frost_Mage/maps/18.map"
    victory_when_enemies_defeated=no

	{DEFAULT_SCHEDULE}

    [side]
		side=1
		controller=human
		{INCOME 3 3 3}
		{GOLD 200 160 140}
        fog=yes
		team_name=heroes
		user_team_name= _ "Erinna and Friends"
		[leader]
			# wmllint: recognize erinna
			{CHARACTER_STATS:ERINNA}
			type=Frost Mage JoaFM
            x,y=12,2
		[/leader]
        [unit]
			id=mage
			side=1
			type=Mage
			placement=leader
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
		[/unit]
        [unit]
            # wmllint: recognize sorceress1
            id=sorceress1
            side=1
            type=White Sorceress
			placement=leader
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
        [/unit]
    [/side]
    [side]
        side=2
        controller=ai
        team_name=heroes
		user_team_name= _ "Raizr's Flight"
        [leader]
			# wmllint: recognize raizr
			{CHARACTER_STATS:RAIZR}
			type=Inferno Drake
			x,y=12,2
            find_vacant=yes
		[/leader]
    [/side]
	[side]
        side=3
        controller=ai
        team_name=heroes
	[/side]

    [event]
		name=start
		[move_unit]
            id=erinna,raizr,mage,sorceress1
            to_x=24
            to_y=12
        [/move_unit]
		[scroll_to_unit]
			[filter]
				id=erinna
			[/filter]
		[/scroll_to_unit]

		{STORE mage KILL=no}
		{STORE sorceress1 KILL=no}
		{STORE raizr KILL=no}

		[lift_fog]
            side=1,2
            x=20-28
            y=8-15
        [/lift_fog]

		[delay]
			time=200
		[/delay]

        {MSG mage (_"Finally! That blue over there? It must be the Silver Sea. The Academy's on an island in the middle.")}
        {MSG erinna (_"But I don't see a way to cross the water. No docks, no boats.")}
        {MSG mage (_"Do we really need all that? With you and the drakes around, it's piece of a joke.")}

        # Silver Mage from Academy teleports in. Dialog about getting into academy.
        # Raizr stay on shore and watches.

		[unit]
			side=3
			type=Silver Mage
			id=instructor
			x,y=26,12
		[/unit]

		{MSG instructor (_"Greetings. Who are you, and why are you here?")}
		{MSG erinna (_ "You must be from the Academy. We wish to learn magic there. <i>Introduces themselves.</i>")}
		{MSG instructor (_"I understand. For that, you will need to pass a test. Your drake friends and soldiers can stay here and watch, but they may not interfere.")}
		{MSG erinna (_"That's fine. Please proceed.")}

		# Crossing the water on their own is the test.
    [/event]
[/scenario]