[scenario]
	id=18_the_academy
	name=_"The Academy"
	map_file="~add-ons/Frost_Mage/maps/18.map"
    victory_when_enemies_defeated=no

	{DEFAULT_SCHEDULE}

    [side]
		side=1
		controller=human
		{INCOME 0 0 0}
		#{GOLD 200 160 140}
		{GOLD 0 0 0}
        fog=yes
		team_name=heroes
		user_team_name= _ "Erinna and Friends"
		[leader]
			# wmllint: recognize erinna
			{CHARACTER_STATS:ERINNA}
			type=Frost Mage JoaFM
            x,y=12,2
		[/leader]
        [unit]
			id=mage
			side=1
			type=Mage
			placement=leader
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
		[/unit]
        [unit]
            # wmllint: recognize sorceress1
            id=sorceress1
            side=1
            type=White Sorceress
			placement=leader
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
        [/unit]
    [/side]
    [side]
        side=2
        controller=ai
        team_name=heroes
		user_team_name= _ "Raizr's Flight"
        [leader]
			# wmllint: recognize raizr
			{CHARACTER_STATS:RAIZR}
			type=Inferno Drake
			x,y=12,2
            find_vacant=yes
		[/leader]
    [/side]
	[side]
        side=3
        controller=ai
        team_name=heroes
		hidden=yes
	[/side]
	[side]
        side=4
        controller=ai
        team_name=academy_test_creatures
		hidden=yes
	[/side]

    [event]
		name=start
		[move_unit]
            id=erinna,raizr,mage,sorceress1
            to_x=24
            to_y=12
        [/move_unit]
		[scroll_to_unit]
			[filter]
				id=erinna
			[/filter]
		[/scroll_to_unit]

		{STORE mage KILL=no}
		{STORE sorceress1 KILL=no}
		{STORE raizr KILL=no}

		[lift_fog]
            side=1,2
            x=20-28
            y=8-15
        [/lift_fog]

		[delay]
			time=200
		[/delay]

        {MSG mage (_"Finally! That blue over there? It must be the Silver Sea. The Academy's on an island in the middle.")}
        {MSG erinna (_"But I don't see a way to cross the water. No docks, no boats.")}
        {MSG mage (_"Do we really need all that? With you and the drakes around, it's piece of a joke.")}

        # Silver Mage from Academy teleports in. Dialog about getting into academy.
        # Raizr stay on shore and watches.
		# TODO teleport animation
		[unit]
			side=3
			type=Silver Mage
			id=instructor
			x,y=26,12
		[/unit]

		{STORE instructor KILL=no}

		{MSG instructor (_"Greetings. Who are you, and why are you here?")}
		{MSG erinna (_ "You must be from the Academy. We wish to learn magic there. <i>Introduces themselves.</i>")}
		{MSG instructor (_"I understand. For that, you will need to pass a test. Your drake friends and soldiers can stay here and watch, but they may not interfere.")}
		{MSG erinna (_"That's fine. Please proceed.")}
		{MSG instructor (_"Ahem... not to be rude, Lady $sorceress1.name, but aren't you a veteran sorceress yourself? I do not understand why you wish to be a student again.")}
		{MSG sorceress1 (_"Are we all not students of the nature and fate, Instructor $instructor.name? Besides, the more mundane reason is that I and many of my kind lost my magic in an ailment. As such, relearning a different kind of magic is all we have left. Perhaps I shall find a solution to this problem.")}
		{MSG instructor (_"I see. That is indeed a noble pursuit. We will not bar you, all long as you work under academy rules.")}

		# Crossing the water on their own + finding hidden keys is the test
		{MSG instructor (_"The test is this: find the magic keys hidden somewhere around here, then cross the water by yourself, and reach the Academy. You cannot help each other.")}
		{MSG mage (_"Wait, but I can't swim. And there's no boat or bridge there. This is ridiculous.")}
		{MSG instructor (_"That is upto your ingenuity. Who will go first?")}
		{MSG erinna (_"Me.")}
		{MSG instructor (_"Very well. I shall put the others into a secure watching location.")}
		{MSG mage (_"<i>(To himself) </i>So we can't cheat, huh! Nevermind, teleporter. Me, the genius summoner, shall find a way. Erinna gave us plenty of time.")}

		# teleport everyone except erinna to impassable watching dome
		{TELEPORT_UNIT (id=mage) 32 3}
		{TELEPORT_UNIT (id=raizr) 32 4}
		{TELEPORT_UNIT (id=sorceress1) 33 4}
		{TELEPORT_UNIT (id=instructor) 33 5}

		{MSG erinna (_"That place over there looks like it has quite a bit of mana.")}
		{HIGHLIGHT_IMAGE 24 13 items/gohere.png ()}
		{VARIABLE erinna_on_circle true}

		[objectives]
			side=1
			[objective]
				description= _ "Move Erinna to the marked place (mana hotspot)."
				condition=win
			[/objective]
			[objective]
				description= _ "Death of Erinna"
				condition=lose
			[/objective]
			{TURNS_RUN_OUT}
		[/objectives]
    [/event]

	[event]
		name=moveto
		first_time_only=no
		[filter]
			id=erinna
			[filter_location]
				x,y=24,13
			[/filter_location]
		[/filter]
		[if]
			[variable]
				name=erinna_on_circle
				boolean_equals=true
			[/variable]
			[then]
				{REMOVE_IMAGE 10 18}
				{CLEAR_VARIABLE erinna_on_circle}
				{MSG erinna (_"Good! Just enough mana for what I need.")}
				# sfx, ignore now.
				[delay]
					time=50
				[/delay]
				# Randomize this later, ignore now.
				# Place key somewhere is southwest, in the forest hexes
				{MSG erinna (_"Somewhere in the western forest. I think some elementals can help me with this.")}
				# allow recruit (water elementals)
				[modify_unit]
					[filter]
						id=erinna
					[/filter]
					canrecruit=yes
					extra_recruit=Water Daemon,Ice Crab,Undine,Icemonax
				[/modify_unit]
				# fixme: difficulty golds (easy,normal,difficult -> 200,160,140)
				[gold]
					side=1
					amount=200
				[/gold]

				# Kwee auto-appears
				[unit]
					side=1
					id=we1-loyal
					type=Water Daemon
					placement=leader
				[/unit]
				{MSG we1-loyal (_"Kwee!")}
				{MSG erinna (_"Oh! Kwee, you want to help?")}
				{MSG we1-loyal (_"Kwee! Kwee! Kwee!")}
				{MSG instructor (_"Wait, where did that creature came from?")}
				{MSG mage (_"That's her pet elemental. I doubt summoned creatures are against rules, are they?")}
				{MSG instructor (_"Ahem... no... but her skill is decent. To have such loyality from a summoned magical being.")}
				{MSG instructor (_"Regardless, let's proceed with the test.")}

				{VARIABLE joafm_s18_erinna_sensed true}

				[objectives]
					side=1
					[objective]
						description= _ "Summon some elementals, then explore the forest in south-west."
						condition=win
					[/objective]
					[objective]
						description= _ "Death of Erinna"
						condition=lose
					[/objective]
					{TURNS_RUN_OUT}
				[/objectives]

				# start spawning enemies
				{VARIABLE fire_elemental_spawn true}
				{CLEAR_VARIABLE erinna_on_circle}
			[/then]
		[/if]
	[/event]

	# Test creature spawn
	[event]
		name=side 1 turn
		first_time_only=no

		[if]
			[variable]
				name=fire_elemental_spawn
				boolean_equals=true
			[/variable]
			[then]
				# fixme: change spawn based on difficulty
				{RANDOM_UNIT 5 26 4 "Furnace Beast, Brazier Imp, Lesser Fire Daemon"}
				{RANDOM_UNIT 7 13 4 "Brazier Imp, Lesser Fire Daemon"}
				{RANDOM_UNIT 10 18 4 "Furnace Beast, Brazier Imp, Fire Daemon"}
			[/then]
		[/if]
	[/event]

	# first elemental sighted: erinna reacts: "good, seems like we're on the right track."

	# summon event: instructor is shocked!
	# erinna walking on water: instructor is paranoid.

	{TIMEOUT_EVENT}
	{DEATH_EVENT (erinna,raizr,sorceress1,mage)}
[/scenario]