#textdomain wesnoth-Frost_Mage

[textdomain]
	name="wesnoth-Frost_Mage"
	path="data/add-ons/Frost_Mage/translations"
[/textdomain]

[binary_path]
	path=data/add-ons/Frost_Mage
[/binary_path]

{~/add-ons/Frost_Mage/utils}
{~/add-ons/Frost_Mage/utils/rashy-era-macros}

#ifhave ~add-ons/WISh/_main.cfg
	{~add-ons/WISh/utils}
#endif

[campaign]
	id=journey_frost_mage
	name= _ "Journey of a Frost Mage"
	abbrev= _ "JoaFM"
	define=CAMPAIGN_FROST_MAGE
	icon="units/human-magi/frost-mage-sheet.webp~CROP(144,0,72,72)~RC(magenta>blue)"
	image= "portraits/humans/mage-frost+female.webp"
	description= _ "<span color='#00ccff' font_family='OldaniaADFStd' size='xx-large'>Journey of a Frost Mage</span>
" + "<span font_family='Palatino'>Magic takes turns in unexpected ways. Meet the Frost Mage as she takes her first step into the big world and the great challenges that appear in her path. Let the story unfold!</span>
" + "<span color='grey' size='small'>" + _"Feedback: https://forums.wesnoth.org/viewtopic.php?t=57054 (Wesnoth Forums)" + "</span>
" + "<span color='grey' size='small'>" + _"This campaign accepts donations on Ko-fi: https://ko-fi.com/lumiouse"+"</span>
" + "<span font_family='DejaVuSerif' weight='bold'>Dependency:</span> <i>War of Legends</i> " +
	#ifhave ~add-ons/War_of_Legends/_main.cfg
		_ "<span color='#00ff00'>(✔Installed)</span>" +
	#else
		_ "<span color='#ff0000'>(✘Not Installed)</span>" +
	#endif
	"
<span font_family='DejaVuSerif' weight='bold'>Dependency:</span> <i>WISh: War of Legends Inventory System</i> " +
	#ifhave ~add-ons/WISh/_main.cfg
		_ "<span color='#00ff00'>(✔Installed)</span>"
	#else
		_ "<span color='#ff0000'>(✘Not Installed)</span>"
	#endif

	{CAMPAIGN_DIFFICULTY EASY "{AQUA-INITIATE+FEMALE}~RC(magenta>blue)" ( _ "Initiate") ( _ "Easy")}
	{CAMPAIGN_DIFFICULTY NORMAL "{AQUA-MAGE+FEMALE}~RC(magenta>blue)" ( _ "Mage") ( _ "Normal")}
	{DEFAULT_DIFFICULTY}
	{CAMPAIGN_DIFFICULTY HARD "{FROST-MAGE+FEMALE}~RC(magenta>blue)" ( _ "High Mage") ( _ "Hard")}
	first_scenario=01_the_attack

	{ENABLE_JOAFM_ADVANCEMENTS}

	[load_resource]
		id=joafm_frozen
	[/load_resource]
	[load_resource]
		id=wish_items
	[/load_resource]
	# load wol specific code
	[load_resource]
		id=WOL_resource_abilities_events_all
	[/load_resource]
	[load_resource]
		id=WOL_resource_AMLA_preview_only
	[/load_resource]


	[about]
		title = _ "Author"
		[entry]
			name = "Subhraman Sarkar (LumiousE/babaissarkar)"
			email = "suvrax_AT_gmail_DOT_com"
			forumuser = "bssarkar"
			discorduser = "lumious_e (LumiousE)"
		[/entry]
	[/about]
	[about]
		title = _ "WoL and General Support, Contributor"
		[entry]
			name = "Lord-Knyghtmare"
			discorduser = "knyghtmare"
			forumuser = "Lord-Knightmare"
		[/entry]
	[/about]
	[about]
		title = _ "Playtesters"
		[entry]
			name = "Konrad2"
			discorduser = "konrad2"
		[/entry]
		[entry]
			name = "lhybrideur"
			discorduser = "lhybrideur"
		[/entry]
		[entry]
			name = "mnau_mnau (ZombieKnightCZ)"
			discorduser = "mnau_mnau"
			forumuser = "ZombieKnightCZ"
		[/entry]
		[entry]
			name = "Bravd"
			forumuser = "Bravd"
		[/entry]
		[entry]
			name = "white_haired_uncle"
			forumuser = "white_haired_uncle"
		[/entry]
		[entry]
			name = "Refumee"
			forumuser = "Refumee"
		[/entry]
		[entry]
			name = "Mirion147"
			discorduser = "mirion147"
		[/entry]
		[entry]
			name = "HolyPaladin"
			discorduser = "holypaladin._"
		[/entry]
	[/about]
[/campaign]


[language]
	type_electric= _ "electric"
	type_natural= _ "natural"
	type_water= _ "water"
[/language]
		#  type_dark= _ "dark"
		#  type_void= _ "void"
		#  type_wind= _ "wind"

[units]
	[resistance_defaults]
		# technically a dual typing
		# if the enemy is weak to either cold or impact
		# they will be hurt.
		id="water"
		default="((cold+impact)/2)"
	[/resistance_defaults]
	[resistance_defaults]
		id="electric"
		default="(fire+20)"
	[/resistance_defaults]
	[resistance_defaults]
		id="natural"
		default="(arcane+10)"
	[/resistance_defaults]

	[race]
		id=VR_darkelf
		male_name= _ "race^Dark Elf"
		female_name= _ "race+female^Dark Elf"
		plural_name= _ "race^Dark Elves"
		# wmllint: local spelling unvegetated
		description= _ "After millennia of peering into the arcane realm, and drawing magic from it, gradually something changed. First it showed as erratic behavior, small acts of selfishness and idiosyncrasy. But these effects, being confined only to the most skilled of Sylphs and Sorceresses, were ignored and unnoticed.
And so, the corruption spread. The evil blossomed, consuming the most brilliant of minds the elvenkind had ever produced, the ones who had guided the path for long. The Sylphs, their apprentices, the guards close to them, their family... and so on.
The ones remaining, still untouched, begin to speak of <italic>Darkened Elves</italic> or <italic>Dark Elves</italic>. And many among them, only in whispers, maintaining the illusion of an unbroken race.
<italic>Look into the Abyss, and the Abyss looks back to you...</italic>"
		num_traits=2
		markov_chain_size=2
		{ELVISH_NAMES}
		{TRAIT_DEXTROUS}
	[/race]
[/units]

#ifdef CAMPAIGN_FROST_MAGE
	# load War of legends
	{~/add-ons/War_of_Legends/campaign-minimal.cfg}
	# load rest of the campaign resources
	{~/add-ons/Frost_Mage/images}
	{~/add-ons/Frost_Mage/scenarios}
	{~/add-ons/Frost_Mage/maps}
	# ensure custom terrains are loaded in scenario files
	{~/add-ons/Frost_Mage/utils/terrain.cfg}

	[+units]
		# movetypes
		{~/add-ons/Frost_Mage/units/movetypes.cfg}

		{~/add-ons/Frost_Mage/units/human-magi}
		{~/add-ons/Frost_Mage/units/human-loyalists}
		{~/add-ons/Frost_Mage/units/elves-wood}
		{~/add-ons/Frost_Mage/units/elves-dark}
		{~/add-ons/Frost_Mage/units/undead}
		{~/add-ons/Frost_Mage/units/undead-necromancers}
		{~/add-ons/Frost_Mage/units/undead-spirit}
		{~/add-ons/Frost_Mage/units/drakes}
	[/units]
#endif
