#define UNEQUIP_MENU
    [set_menu_item]
        id=unequip
        description= _ "Unequip"
        #image="items/book.png"
        [command]
            [store_unit]
                [filter]
                    x,y=$x1,$y1
                [/filter]
                variable=unit
            [/store_unit]        

            [message]
                speaker=narrator
                message= _ "$unit.variables.item_object.object.name removed from $unit.name."
            [/message]

            # after picking up and dropping object multiple times 
            # can't pick up

            [set_variables]
                name=cur_item
                [insert_tag]
                    name=value
                    variable=unit.variables.item_object.object
                [/insert_tag]
            [/set_variables]

            {VARIABLE itemx $unit.x}
            {VARIABLE_OP itemx add 1}

            {ITEM_PICK_UP $unit.variables.item_object.object.id $itemx $unit.y (race=human) $unit.variables.item_object.object.image
                _"A magical object. Should $unit.name pick it up?"
                _"Take it"
                _"Leave it"
                _"Anybody can take it!" (
                    [insert_tag]
                        name=object
                        variable=cur_item
                    [/insert_tag]
                )}

            [remove_object]
                id=$unit.id
                objectid=$unit.variables.item_object.object.id
            [/remove_object]

            [modify_unit]
                [filter]
                    id=$unit.id
                [/filter]
                [variables]
                    has_item=no
                [/variables]
            [/modify_unit]

            [store_unit]
                [filter]
                    id=$unit.id
                [/filter]
                variable=$unit.id
                #kill=yes
            [/store_unit]

            [set_variable]
                name=curid
                value=$cur_item.id
            [/set_variable]

            {CLEAR_VARIABLE itemx}
            #  {CLEAR_VARIABLE cur_item}
            {CLEAR_VARIABLE curid}

            [fire_event]
                name=item_drop
                [primary_unit]
                    id=$unit.id
                [/primary_unit]
            [/fire_event]
        [/command]
    [/set_menu_item]
#enddef

#define ITEM_PICK_UP ID X Y CAN_TAKE_FILTER_WML IMAGE TEXT TAKE_IT_STRING LEAVE_IT_STRING CANNOT_TAKE_TEXT OBJECT_WML


[set_variable]
    name=ev_x
    value={X}
[/set_variable]
[set_variable]
    name=ev_y
    value={Y}
[/set_variable]
[set_variables]
    name=ev_obj
    [value]
        {OBJECT_WML}
    [/value]
[/set_variables]

[item]
    x=$ev_x
    y=$ev_y
    image={IMAGE}
[/item]

[event]
    name=moveto
    id=pickup_event
    first_time_only=no

    [filter]
        x=$ev_x
        y=$ev_y
    [/filter]

    [if]
        [have_unit]
            x,y={X},{Y}
            {CAN_TAKE_FILTER_WML}
        [/have_unit]

        [then]
            [message]
                speaker=narrator
                message={TEXT}
                image={IMAGE}

                [option]
                    label={TAKE_IT_STRING}

                    [command]
                        {OBJECT_WML}

                        [remove_item]
                            x,y={X},{Y}
                            image={IMAGE}
                        [/remove_item]

                        [remove_event]
                            id=pickup_event
                        [/remove_event]

                        [set_variables]
                            name=items
                            mode=append
                            [value]
                                unitid=$unit.id
                                {OBJECT_WML}
                            [/value]
                        [/set_variables]

                        [modify_unit]
                            [filter]
                                id=$unit.id
                            [/filter]
                            [variables]
                                #unit_items=$items.object.id
                                has_item=yes
                                [item_object]
                                    {OBJECT_WML}
                                [/item_object]
                            [/variables]
                        [/modify_unit]

                        [store_unit]
                            [filter]
                                id=$unit.id
                            [/filter]
                            variable=$unit.id
                        [/store_unit]
                        
                        # Trigger item pickup events
                        [fire_event]
                            name=item_pickup
                            [primary_unit]
                                id=$unit.id
                            [/primary_unit]
                        [/fire_event]

                    [/command]
                [/option]

                [option]
                    label={LEAVE_IT_STRING}

                    [command]
                        [allow_undo]
                        [/allow_undo]
                    [/command]
                [/option]
            [/message]
        [/then]
        [else]
            [message]
                speaker=narrator
                message={CANNOT_TAKE_TEXT}
                image={IMAGE}
                side_for=$side_number
                # the above is used to prevent an AI side from
                # accidentally triggering this dialog
            [/message]

            [allow_undo]
            [/allow_undo]
        [/else]
    [/if]
[/event]

{CLEAR_VARIABLE cur_id}
#enddef