#textdomain wesnoth-Frost_Mage

#define NEW:VILLAGE TERRAINLIST IMAGESTEM

    #arg PROB
    100#endarg

    #arg ANIM
    #endarg

    #arg TIME
    #endarg

    #arg FLAG
    village#endarg

        [terrain_graphics]
            map="
    , *
    * , *
    , 1
    * , *
    , *"

            [tile]
                pos=1
                type={TERRAINLIST}
                set_no_flag={FLAG}
            [/tile]

            probability={PROB}

            [image]
                name={IMAGESTEM}@V{ANIM}.png:{TIME}
                variations=";2;3;4;5;6;7"
                layer=0
                base=90,144
                center=90,144
            [/image]
        [/terrain_graphics]
#enddef

#define NEW:OVERLAY TERRAIN IMAGESTEM
        # Places {IMAGESTEM}[1-11].png as overlay tiles.
        # default is not to care about adjacent tiles because rules filter for a fake terrain code,
        # but ADJACENT= can be called to restrict (usually shrink) the overlay graphics

    #arg LAYER
    0#endarg

    #arg BASE
    90,160#endarg

    #arg FLAG
    overlay#endarg

    #arg PROB
    100#endarg

    #arg ANIM
    #endarg

    #arg TIME
    #endarg

    #arg ADJACENT
    _fak#endarg

    #arg CENTER
    90,144#endarg

        [terrain_graphics]
            map="
    , *
    * , 2
    , 1
    * , *
    , *"
            [tile]
                pos=1
                type={TERRAIN}
                set_flag={FLAG}-@R0
            [/tile]
            [tile]
                pos=2
                type={ADJACENT}
            [/tile]
            rotations=ne,se,s,sw,nw,n
        [/terrain_graphics]

        # check if there is more than one adjacent flag set
        [terrain_graphics]
            [tile]
                x=0
                y=0
                type={TERRAIN}
                has_flag={FLAG}-@R0,{FLAG}-@R1
                set_no_flag={FLAG}-small
            [/tile]
            rotations=ne,se,s,sw,nw,n
        [/terrain_graphics]
        [terrain_graphics]
            [tile]
                x=0
                y=0
                type={TERRAIN}
                has_flag={FLAG}-@R0,{FLAG}-@R2
                set_no_flag={FLAG}-small
            [/tile]
            rotations=ne,se,s,sw,nw,n
        [/terrain_graphics]
        [terrain_graphics]
            [tile]
                x=0
                y=0
                type={TERRAIN}
                has_flag={FLAG}-@R0,{FLAG}-@R3
                set_no_flag={FLAG}-small
            [/tile]
            rotations=ne,se,s,sw,nw,n
        [/terrain_graphics]
        [terrain_graphics]
            [tile]
                x=0
                y=0
                type={TERRAIN}
                has_flag={FLAG}-@R0,{FLAG}-@R4
                set_no_flag={FLAG}-small
            [/tile]
            rotations=ne,se,s,sw,nw,n
        [/terrain_graphics]
        [terrain_graphics]
            [tile]
                x=0
                y=0
                type={TERRAIN}
                has_flag={FLAG}-@R0,{FLAG}-@R5
                set_no_flag={FLAG}-small
            [/tile]
            rotations=ne,se,s,sw,nw,n
        [/terrain_graphics]
        # flag the one-adjacent case
        #    [terrain_graphics]
        #        [tile]
        #            x=0
        #            y=0
        #            type={TERRAIN}
        #            has_flag={FLAG}-@R0
        #            no_flag={FLAG}-small
        #            set_no_flag={FLAG}-draw-@R0
        #        [/tile]
        #        rotations=ne,se,s,sw,nw,n
        #    [/terrain_graphics]

        # draw the small version
        [terrain_graphics]
            map="
    , *
    * , *
    , 1
    * , *
    , *"
            [tile]
                pos=1
                type={TERRAIN}
                set_no_flag={FLAG}
                has_flag={FLAG}-small
            [/tile]

            probability={PROB}

            [image]
                name={IMAGESTEM}-small@V{ANIM}.png:{TIME}
                variations=";2;3;4;5;6;7;8;9;10;11"
                layer={LAYER}
                base={BASE}
                #            base=90,160
                center={CENTER}
            [/image]
        [/terrain_graphics]

        # draw the one-side-smaller version
        [terrain_graphics]
            map="
    , *
    * , *
    , 1
    * , *
    , *"
            [tile]
                pos=1
                type={TERRAIN}
                set_no_flag={FLAG}
                no_flag={FLAG}-small
                has_flag={FLAG}-@R0
            [/tile]

            probability={PROB}

            [image]
                name={IMAGESTEM}-small@V{ANIM}-@R0.png:{TIME}
                variations=";2;3;4;5;6;7;8;9;10;11"
                layer={LAYER}
                base={BASE}
                #            base=90,160
                center={CENTER}
            [/image]
            rotations=ne,se,s,sw,nw,n
        [/terrain_graphics]

        # draw the small version if there was no side-specific version
        # get the rotations out of the image because of base key,
        # and we won't know this is needed until the previous image tag fails
        [terrain_graphics]
            [tile]
                x=0
                y=0
                type={TERRAIN}
                has_flag={FLAG}-@R0
                set_no_flag={FLAG}-small
            [/tile]
            rotations=ne,se,s,sw,nw,n
        [/terrain_graphics]
        [terrain_graphics]
            map="
    , *
    * , *
    , 1
    * , *
    , *"
            [tile]
                pos=1
                type={TERRAIN}
                set_no_flag={FLAG}
                has_flag={FLAG}-small
            [/tile]

            probability={PROB}

            [image]
                name={IMAGESTEM}-small@V{ANIM}.png:{TIME}
                variations=";2;3;4;5;6;7;8;9;10;11"
                layer={LAYER}
                base={BASE}
                #            base=90,160
                center={CENTER}
            [/image]
            rotations=ne,se,s,sw,nw,n
        [/terrain_graphics]

        # draw the default
        [terrain_graphics]
            map="
    , *
    * , *
    , 1
    * , *
    , *"
            [tile]
                pos=1
                type={TERRAIN}
                set_no_flag={FLAG}
            [/tile]

            probability={PROB}

            [image]
                name={IMAGESTEM}@V{ANIM}.png:{TIME}
                variations=";2;3;4;5;6;7;8;9;10;11"
                layer={LAYER}
                base={BASE}
                #            base=90,160
                center={CENTER}
            [/image]
        [/terrain_graphics]
#enddef

[editor_group]
    id=JoaFM_Terrains
    name= _ "JoaFM Terrains"
    icon="group_custom"
[/editor_group]

[terrain_type]
	symbol_image=village/treehouse1
	id=treehouse_village1
	name= _ "Village"
	editor_name= _ "Treehouse Village"
	string=^Vft1
	aliasof=_bas, Vt
	default_base=Gll
	heals=8
	gives_income=true
	editor_group=JoaFM_Terrains, village
[/terrain_type]
[terrain_type]
	symbol_image=village/treehouse2
	id=treehouse_village2
	name= _ "Village"
	editor_name= _ "Treehouse Village"
	string=^Vft2
	aliasof=_bas, Vt
	default_base=Gll
	heals=8
	gives_income=true
	editor_group=JoaFM_Terrains, village
[/terrain_type]
[terrain_type]
	symbol_image=village/treehouse3
	id=treehouse_village3
	name= _ "Village"
	editor_name= _ "Treehouse Village"
	string=^Vft3
	aliasof=_bas, Vt
	default_base=Gll
	heals=8
	gives_income=true
	editor_group=JoaFM_Terrains, village
[/terrain_type]
[terrain_type]
	symbol_image=village/treehouse4
	id=treehouse_village4
	name= _ "Village"
	editor_name= _ "Treehouse Village"
	string=^Vft4
	aliasof=_bas, Vt
	default_base=Gll
	heals=8
	gives_income=true
	editor_group=JoaFM_Terrains, village
[/terrain_type]
[terrain_type]
	symbol_image=village/treehouse5
	id=treehouse_village5
	name= _ "Village"
	editor_name= _ "Treehouse Village"
	string=^Vft5
	aliasof=_bas, Vt
	default_base=Gll
	heals=8
	gives_income=true
	editor_group=JoaFM_Terrains, village
[/terrain_type]
[terrain_type]
	symbol_image=village/treehouse6
	id=treehouse_village6
	name= _ "Village"
	editor_name= _ "Treehouse Village"
	string=^Vft6
	aliasof=_bas, Vt
	default_base=Gll
	heals=8
	gives_income=true
	editor_group=JoaFM_Terrains, village
[/terrain_type]

# Terrain Graphics
# Syntax:
# {NEW:VILLAGE	Code	Path stem}

{NEW:VILLAGE	*^Vft1	village/treehouse1}
{NEW:VILLAGE	*^Vft2	village/treehouse2}
{NEW:VILLAGE	*^Vft3	village/treehouse3}
{NEW:VILLAGE	*^Vft4	village/treehouse4}
{NEW:VILLAGE	*^Vft5	village/treehouse5}
{NEW:VILLAGE	*^Vft6	village/treehouse6}

# Summoning Circle
[terrain_type]
    id=overlay-summoning-circle
    name= _ "Summoning Circle"
    editor_name= _ "Summoning Central Rune"
    symbol_image=magic/circle-magic
    string=^Sc
    aliasof=_bas
    recruit_from=true
    recruit_onto=true
    heals=8
    editor_group=JoaFM_Terrains
[/terrain_type]

# summoning runes
[terrain_type]
    id=overlay-rune
    name= _ "Summoning Rune"
    editor_name= _ "Summoning Rune"
    symbol_image=magic/rune
    string=^Sr
    aliasof=_bas
    recruit_onto=true
    heals=8
    editor_group=JoaFM_Terrains
[/terrain_type]

# Summoning Runes
{NEW:OVERLAY         *^Sc                   magic/circle-magic}
{NEW:OVERLAY         *^Sr                   magic/rune}

# Unwalkable Rubble
[terrain_type]
    symbol_image=misc/rubble-tile
    id=sand_rubble_unwalkable
    name= _ "Rubble (Unwalkable)"
    string=^Xr
    aliasof=_bas, Ht, Xo
    mvt_alias=-,_bas,Ht,Xo
    editor_group=JoaFM_Terrains, desert, rough
[/terrain_type]

{NEW:OVERLAY *^Xr misc/rubble-tile FLAG=rubble LAYER=-1}

#undef NEW:VILLAGE
#undef NEW:OVERLAY