#textdomain wesnoth-units
[unit_type]
    id=Shadowmistress
    name= _ "Shadowmaster"
    gender=male, female
    race=human
    image="units/undead-necromancers/necromancer.png"
    profile="portraits/humans/necromancer.png"
    hitpoints=85
    movement_type=smallfoot
    movement=7
    experience=180
    level=4
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=70
    usage=mixed fighter
    description= _ "An extremely skilled Necromancer, who has also mastered other magics in order to increase their knowledge, skill and arcane strength. Not usually seen, they are as dangerous as Ancient Liches, perhaps even more."
    die_sound={SOUND_LIST:HUMAN_OLD_DIE}
    {DEFENSE_ANIM "units/undead-necromancers/necromancer-defend.png" "units/undead-necromancers/necromancer.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [abilities]
        {ABILITY_TELEPORT}
    [/abilities]
    [resistance]
        cold=40
        arcane=40
        fire=80
    [/resistance]
    [attack]
        name=shadow staff
        description=_"staff of shadows"
        icon=attacks/staff-plague.png
        type=impact
        range=melee
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=arcane wave
        description=_"arcane wave"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=20
        number=3
        icon=attacks/dark-missile.png
    [/attack]
    [attack]
    	name=essence of shadows
    	description=_ "essence of shadows"
    	type=cold
    	[specials]
    	    {WEAPON_SPECIAL_MAGICAL}
    	    {WEAPON_SPECIAL_SLOW}
    	    {WEAPON_SPECIAL_DRAIN}
        [/specials]
        range=ranged
        damage=25
        number=2
        icon=attacks/dark-missile.png
    [/attack]
    [recruiting_anim]
        [filter_second]
            race=undead
        [/filter_second]
        start_time=-300
        [frame]
            image="units/undead-necromancers/necromancer-magic-[1,2].png:75"
        [/frame]
        [frame]
            image="units/undead-necromancers/necromancer-magic-3.png"
            halo=halo/undead/black-magic-[1~5].png:[75*4,50]
        [/frame]
        sound_start_time=-75
        [sound_frame]
            sound=magic-dark.ogg
        [/sound_frame]
        [frame]
            image="units/undead-necromancers/necromancer-magic-[2,1].png:50"
        [/frame]
        [frame]
            image="units/undead-necromancers/necromancer.png:1"
        [/frame]
    [/recruiting_anim]
    [attack_anim]
        [filter_attack]
            name=essence of shadows
        [/filter_attack]
        {MISSILE_FRAME_WAIL}
        start_time=-250
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=arcane wave
        [/filter_attack]

        {MISSILE_FRAME_SHADOW_WAVE}

        start_time=-675
        [frame]
            image="units/undead-necromancers/necromancer-magic-[1,2].png:75"
        [/frame]
        [frame]
            image="units/undead-necromancers/necromancer-magic-3.png"
            halo=halo/undead/black-magic-[1~5].png:[75*4,50]
        [/frame]
        [frame]
            image="units/undead-necromancers/necromancer-magic-3.png:250"
        [/frame]
        {SOUND:HIT_AND_MISS magic-dark-big.ogg magic-dark-big-miss.ogg -50}
        [frame]
            image="units/undead-necromancers/necromancer-magic-[2,1].png:50"
        [/frame]
        [frame]
            image="units/undead-necromancers/necromancer.png:50"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=shadow staff
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/undead-necromancers/necromancer.png:50"
        [/frame]
        [frame]
            image="units/undead-necromancers/necromancer-attack-staff-[1~2].png:[100,200]"
        [/frame]
        {SOUND:HIT_AND_MISS staff.ogg staff-miss.ogg -125}
        [frame]
            image="units/undead-necromancers/necromancer-magic-1.png:75"
        [/frame]
        [frame]
            image="units/undead-necromancers/necromancer.png:75"
        [/frame]
    [/attack_anim]
    [animation]
        apply_to=pre_teleport
        start_time=-1200

        teleport_sparkle_1_start_time=-1200
        teleport_sparkle_2_start_time=-1000
        teleport_sparkle_3_start_time=-800

        [teleport_sparkle_1_frame]
            duration=800
            halo=halo/teleport-[9,8,1~9].png
            halo_x=-10
            halo_y=30~-30
        [/teleport_sparkle_1_frame]
        [teleport_sparkle_2_frame]
            duration=800
            halo=halo/teleport-[9,8,1~9].png
            halo_x=0
            halo_y=40~-40
        [/teleport_sparkle_2_frame]
        [teleport_sparkle_3_frame]
            duration=800
            halo=halo/teleport-[9,8,1~9].png
            halo_x=10
            halo_y=30~-30
        [/teleport_sparkle_3_frame]

        [frame]
            image="misc/blank-hex.png:300"
        [/frame]
    [/animation]

    [animation]
        apply_to=post_teleport
        start_time=-1200

        teleport_sparkle_1_start_time=-1200
        teleport_sparkle_2_start_time=-1000
        teleport_sparkle_3_start_time=-800

        [teleport_sparkle_1_frame]
            duration=800
            halo=halo/teleport-[9,8,1~9].png
            halo_x=10
            halo_y=-30~30
        [/teleport_sparkle_1_frame]
        [teleport_sparkle_2_frame]
            duration=800
            halo=halo/teleport-[9,8,1~9].png
            halo_x=0
            halo_y=-40~40
        [/teleport_sparkle_2_frame]
        [teleport_sparkle_3_frame]
            duration=800
            halo=halo/teleport-[9,8,1~9].png
            halo_x=-10
            halo_y=-30~30
        [/teleport_sparkle_3_frame]
        [frame]
            image="misc/blank-hex.png:300"
        [/frame]
    [/animation]
    [female]
        name= _ "female^Shadowmistress"
        gender=female
        image="units/undead-necromancers/necromancer+female.png"
        profile="portraits/humans/necromancer+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/undead-necromancers/necromancer+female-defend.png" "units/undead-necromancers/necromancer+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        [recruiting_anim]
            [filter_second]
                race=undead
            [/filter_second]
            [frame]
                image="units/undead-necromancers/necromancer+female-magic-[1,2].png:75"
            [/frame]
            [frame]
                image="units/undead-necromancers/necromancer+female-magic-3.png"
            [/frame]
            [frame]
                image="units/undead-necromancers/necromancer+female-magic-[2,1].png:50"
            [/frame]
            [frame]
                image="units/undead-necromancers/necromancer+female.png:1"
            [/frame]
        [/recruiting_anim]
        [attack_anim]
            [filter_attack]
                name=essence of shadows
            [/filter_attack]
            {MISSILE_FRAME_WAIL}
            start_time=-250
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=arcane wave
            [/filter_attack]
            [frame]
                image="units/undead-necromancers/necromancer+female-magic-[1,2].png:75"
            [/frame]
            [frame]
                image="units/undead-necromancers/necromancer+female-magic-3.png"
            [/frame]
            [frame]
                image="units/undead-necromancers/necromancer+female-magic-3.png:250"
            [/frame]
            [frame]
                image="units/undead-necromancers/necromancer+female-magic-[2,1].png:50"
            [/frame]
            [frame]
                image="units/undead-necromancers/necromancer+female.png:50"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=shadow staff
            [/filter_attack]
            [frame]
                image="units/undead-necromancers/necromancer+female.png:50"
            [/frame]
            [frame]
                image="units/undead-necromancers/necromancer+female-attack-staff-[1~2].png:[100,200]"
            [/frame]
            [frame]
                image="units/undead-necromancers/necromancer+female-magic-1.png:75"
            [/frame]
            [frame]
                image="units/undead-necromancers/necromancer+female.png:75"
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
